/* In order to select the label using a name use gtk_widget_set_name() in the
   code to give it a name. Within the CSS you may reference it using 
   "#name" as shown below.
   See https://thegnomejournal.wordpress.com/2011/03/15/styling-gtk-with-css/
   for further information.
*/
#style_output
{
	#color: #ffffff;
	font-size: 14px;
	font-family: 'Ubuntu';
	font-weight: normal;
}
#style_statusbar
{
	font-size: 12px;
	font-family: 'Ubuntu';
	font-weight: normal;
}
